
{{ partial "header.html" . }}

{{ partial "publication_type_selector.html" . }}

<section class="main">
    <div class="container">
        <div class="content">
            <ul>
                {{ $publications :=  where .Site.RegularPages "Section" "==" "publications" }}
                {{ range $publications.GroupByParam "year" "desc" }}
                    {{ range .Pages.ByTitle }}
                        {{ partial "li.html" . }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}